@import url('https://fonts.googleapis.com/css2?family=Preahvihear&display=swap');
* {
  box-sizing: border-box;
}
body {
  height: 100vh;
  overflow: hidden;
  margin: 0;
  background: #c4c1a4;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-family: 'Preahvihear', sans-serif;
}
h1 {
  font-size: 30px;
  text-align: center;
  color: darkmagenta;
}
